{% extends "base.html" %}

{% block title %} edit post {% endblock %}

{% block content %}
    <h1>Edit the post</h1>
    <form action="/posts/{{postId}}/edit" method="post">
        <div class="mb-3">
            <label for="title">Title</label> <br>
            <input type="text" id="ftitle" name="title"> <br>
        </div>

        <div class="mb-3">
            <label for="content">Content</label> <br>
            <textarea class="form-control" aria-label="content" id="content" name="content"></textarea>
        </div>

            
            <input type="checkbox" id="fun" name="fun" value="fun">
            <label for="fun"> Fun </label><br>

            <input type="checkbox" id="even-more" name="even-more" value="even-more">
            <label for="even-more"> Even More </label><br>

            <input type="checkbox" id="bloop" name="bloop" value="bloop">
            <label for="bloop"> Bloop </label><br>

            <input type="checkbox" id="zope" name="zope" value="zope">
            <label for="zope"> Zope </label><br>


        <a href="/posts/{{postId}}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Add</button>

    </form>
{% endblock %}