{% extends "base.html" %}

{% block title %} edit post {% endblock %}

{% block content %}
    <h1>Edit the post</h1>
    <form action="/posts/{{postId}}/edit" method="post">
        <div class="mb-3">
            <label for="title">Title</label> <br>
            <input type="text" id="ftitle" name="title"> <br>
        </div>

        <div class="mb-3">
            <label for="content">Content</label> <br>
            <textarea class="form-control" aria-label="content" id="content" name="content"></textarea>
        </div>

            
        {% for tag in tags %}

            <input type="checkbox" id="{{tag.name}}" name="tags" value="{{tag.name}}">
            <label for="{{tag.name}}"> {{tag.name}} </label><br>

        {% endfor %}


        <a href="/posts/{{postId}}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Edit</button>

    </form>
{% endblock %}