{% extends "base.html" %}

{% block title %} edit user {% endblock %}

{% block content %}
    <h1>Edit a User</h1>
    <form action="/users/{{user.id}}/edit" method="post">
        <label for="first-name">First Name</label> <br>
        <input type="text" id="first-name" name="first-name" value="{{user.first_name}}"> <br>

        <label for="last-name">Last Name</label> <br>
        <input type="text" id="last-name" name="last-name" value="{{user.last_name}}"> <br>

        <label for="img-url">Image URL</label> <br>
        <input type="text" id="img-url" name="img-url" value="{{user.image_url}}"> <br>

        <a href="/users" class="cancelButton">cancel</a>
        <button type="submit">Save</button>
    </form>
{% endblock %}