{% extends "base.html" %}

{% block title %} Post {% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>
    <p> {{post.content}}</p>
    <p>{{user.fullName}}</p>
    <p>   
        <h6 class="d-inline">Tags: </h6>
        {% for tag in tags %}
            <div class="d-inline p-1 bg-primary text-white rounded">{{tag.name}}</div>
        {% endfor %}
    </p>
    <a href="/users/{{user.id}}" class="btn btn-outline-info">Cancel</a>
    <a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/posts/{{post.id}}/delete" class="btn btn-danger">Delete</a>
{% endblock %}